<h2 class="homepage-p">Create a profile and start keeping records of your games!</h2>
<div class="home-img-div">
<%= image_tag('presstar3.gif', class: 'home-img') %>
</div>
<div class="homepage-div">
<span><%= link_to 'Log In', new_user_session_path %></span>
<span><%= link_to "Sign Up", new_user_registration_path %></span>
</div>