
<%= @results[0].name%>


 <% client = IGDB::Client.new ENV["IGDB_API_KEY"]
    @sresult = client.search_games "witcher", {fields: "name,release_dates,esrb.synopsis,rating"} %>
<% @sresult.each do |sr| %>
<p><%= sr.name %></p>
<% end %>