<h2 class="centralized">Recently Added Games</h2>
<hr>

<% @games.each do |game| %>
<%@game_name  = game.name %>
<%@game_cover = game.cover %>
  <% @game_date =  game.release_date %>
        <div class="card">
       
       <img src="<%=game.cover%>" alt="">      
<% if user_signed_in? %>
<div class="popup">
  <div class="popUp-content">
            <div class="popUp_Border">
                            <span class="close">&times;</span>
                            <p>Game Added!</p>
        </div>
</div>
</div>
        <p class="add-btn"><%= render partial: 'form' %></p>
<% end %>
       <p class="title clear-fix"><%= game.name %> </p>
       <p class="clear-fix">Released: <%=  game.release_date %> </p>
       
        </div>
    <% end %>

  <script>
  $('.formButton').click( function () {
       $('.popup').css('display',"block");
    });
  $('.close').click( function () {
       $('.popup').css('display',"none");
    });
 </script> 