<h2 class="clear-fix username"><%= current_user.username %></h2>
<hr>
<div>
<h3 class="cat-name">Currently Playing</h3>
<% current_user.games.each do |g|%>
<div class="game">
<img src="<%= g.cover %>" alt="">
<p><%= link_to 'Remove', "/games/#{g.id}", method: "delete" %> <p>
</div>
<% end %>
</div>

